openapi: 3.0.3

info:
  title: Weather API
  description: API for retrieving current weather information for a specified location.
  version: 1.0.0

servers:
  - url: https://api.openweathermap.org
    description: OpenWeatherMap API

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: appid

  schemas:
    WeatherResponse:
      type: object
      properties:
        coord:
          type: object
          properties:
            lon:
              type: number
              format: double
            lat:
              type: number
              format: double

        weather:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              main:
                type: string
              description:
                type: string
              icon:
                type: string

        base:
          type: string

        main:
          type: object
          required:
            - temp
            - humidity
          properties:
            temp:
              type: number
            feels_like:
              type: number
            temp_min:
              type: number
            temp_max:
              type: number
            pressure:
              type: integer
            humidity:
              type: integer
            sea_level:
              type: integer
            grnd_level:
              type: integer

        visibility:
          type: integer

        wind:
          type: object
          properties:
            speed:
              type: number
            deg:
              type: integer
            gust:
              type: number

        clouds:
          type: object
          properties:
            all:
              type: integer

        dt:
          type: integer

        sys:
          type: object
          properties:
            type:
              type: integer
            id:
              type: integer
            country:
              type: string
            sunrise:
              type: integer
            sunset:
              type: integer

        timezone:
          type: integer

        id:
          type: integer

        name:
          type: string

        cod:
          type: integer

    ErrorResponse:
      type: object
      properties:
        cod:
          oneOf:
            - type: integer
            - type: string
        message:
          type: string

paths:
  /data/2.5/weather:
    get:
      summary: Get current weather
      description: Returns current weather information for a specified location.

      security:
        - apiKey: []

      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Name of the city for which weather information is requested.
          example: London

        - name: units
          in: query
          required: false
          schema:
            type: string
            enum:
              - standard
              - metric
              - imperial
            default: standard
          description: Specifies the unit system. Use standard for Kelvin, metric for Celsius, or imperial for Fahrenheit.
          examples:
            metric:
              summary: Celsius
              value: metric
            imperial:
              summary: Fahrenheit
              value: imperial

      responses:
        '200':
          description: Successful response containing current weather information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherResponse'
              example:
                coord:
                  lon: -0.1257
                  lat: 51.5085
                weather:
                  - id: 802
                    main: Clouds
                    description: scattered clouds
                    icon: 03d
                base: stations
                main:
                  temp: 17.07
                  feels_like: 16.66
                  temp_min: 15.57
                  temp_max: 18.26
                  pressure: 1021
                  humidity: 70
                  sea_level: 1021
                  grnd_level: 1017
                visibility: 10000
                wind:
                  speed: 3.09
                  deg: 70
                clouds:
                  all: 40
                dt: 1787559272
                sys:
                  type: 2
                  id: 2075535
                  country: GB
                  sunrise: 1787547613
                  sunset: 1787598363
                timezone: 3600
                id: 2643743
                name: London
                cod: 200

        '400':
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                cod: "400"
                message: "Nothing to geocode"

        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                cod: 401
                message: "Invalid API key."

        '404':
          description: Requested location was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                cod: "404"
                message: "city not found"